<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    	rel="stylesheet" 
    	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

	<img src="../../img/logo.png">
   <form action="/bill/save" method="post" th:object="${bill}">
   		<input name="id" th:field="*{id}" hidden="true"/>
   		
		<div class="column justify-content-center align-items-center" >
			<h2>Atualizar boleto</h2>
			<div class="form-group col-lg-2">
				<label for="client">Pagador</label>
				<select class="form-control" th:field="*{client.id}">
	                <option value="0">Selecione</option>
	                <option th:each="item:${clients}" th:text="${item.name}"
	                        th:value="${item.id}"></option>
	            </select>

			</div>
			<div class="form-group col-lg-2">
				<label for="value">Valor</label>
				<input type="number" id="value" class="form-control" th:field="*{value}"/>
			</div>
		</div>
		<input type="submit" value="Atualizar" class="btn btn-primary">
		
		<a href="/bill" class="btn btn-danger">Listar</a>
		
	</form>

	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>

</body>
</html>